<h1>Portfolio items</h1>

<%= link_to 'Nuevo portfolio', new_portfolio_path %>

<% @portfolio_items.each do |portfolio| %>
    <p><%= link_to portfolio.title, portfolio %></p>
    <p><%= portfolio.subtitle %></p>
    <p><%= portfolio.body %></p>
    <p><%= image_tag portfolio.thumb_image unless portfolio.thumb_image.nil? %></p>
    <p><%= link_to 'Edit', edit_portfolio_path(portfolio) %></p>
<% end %>