<h1>Homepage</h1>

<h2>Entradas del blog</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.body %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>

<h2>Skills</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Percent Utilized</th>
    </tr>
  </thead>

  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill.title %></td>
        <td><%= skill.percent_utilized %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<%= sample_helper %>