<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset = "utf-8" />
    <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name = "keywords" content = "<%= @seo_keywords %>" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <%= render "shared/nav" %>
      
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <p>Hola, <%= current_user.first_name %></p>

      <main role="main" class="inner cover center-align">
        <%= yield %>
      </main>
      <%= source_helper %>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
